
* {
    box-sizing: border-box;
}

h1
{
    text-align: center;
}

body
{
    /* background-color: blue; */
    background-image: url('../asset/image.jpg');
    background-size: cover;
    margin: 5rem;
}

.container
{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: -7rem;
}

.text
{
    text-align: center;
    font-size: 1.5rem;
    margin: 10rem 1rem 0 3rem;
}

/*Mobile*/
/* @media (min-width:576px) and (max-width:768px){
    
} */

@media (min-width:576px) {}

/*Tablet*/
@media (min-width:576px) and (max-width:992px){}

/*Laptop*/
@media (min-width:992px) and (max-width:1200px){}