* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background: url("../image.jpg");
  background-size: cover;
  /* margin: 5rem; */
}
h1 {
  font-size: 4rem;
  text-align: center;
}
.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 0;
  max-height: 400px;
  max-width: 500px;
}

.container {
  display: flex;
  height: 100vh;
  font-weight: bold;
  gap: 4rem;
  max-width: 600px;
}

.text {
  text-align: center;
  font-size: 1.5rem;
}

/* Responsive Start */

@media (max-width: 992px) {
  .main {
    display: flex;
    max-width: 600px;
  }
  h1 {
    font-style: italic;
  }
  .container {
    display: flex;
    gap: 2rem;
    color: #000000ac;
    flex-direction: column;
    font-weight: bold;
  }
}
