
* {
    box-sizing: border-box;
}

h1
{
    text-align: center;
}

body
{
    background-image: url('image.jpg');
    background-size: cover;
    margin: 5rem;
}

.container
{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: -7rem;
}

.text
{
    text-align: center;
    font-size: 1.5rem;
    margin: 10rem 1rem 0 3rem;
}